<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <!-- CSSのインポート -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="./css/style.css">
    <!-- JSのインポート -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form onsubmit=" return doLogin(this);" method="post" class="box">
                        <h1>ログイン</h1>
                        <p class="text-muted"> ログイン情報を入力してください！</p>
                        <input type="text" name="username" placeholder="ユーザー名を入力">
                        <input type="password" name="password" placeholder="パスワードを入力">
                        <input type="submit" value="ログイン">
                        <a class="forgot text-muted" href="/register">新規作成</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function doLogin(form) {
            $.ajax({
                url: '/login-form',
                method: 'POST',
                data: { username: form.username.value, password: form.password.value },
                success: function (res) {
                    if (res == '') {
                        alert("エラーが発生しました！");
                    } else {
                        window.location.href = "/"
                    }
                }
            })
            return false;
        }
    </script>
</body>

</html>